// Specific CSS for your home-page

body {
  background-color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-color: #A5C0F9;
  margin-bottom: 30px;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  //font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 15px;
}

.banner h3 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.rectangle {
  height: 140px;
  background-color: white;
  border: px solid rgba(10,10,10,0.1);
  border-radius: 8%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 7px rgba(10, 10, 10, 0.1);

  &:hover {
    transform: scale(1.05);
  }
}

.section-header {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.rectangle p {
  margin: 0;
}

.cards {
  margin-top: 30px;
  font-family: 'poppins', sans-serif;
  margin-bottom: 40px
}

.card {
  background-color: white;
  border-radius: 4%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.348);
}

.card-img-top {
  border-radius: 4%;
}

a {
  border-radius: 30%;
}

.card .fa-heart {
  position: absolute;
  top: 18px;
  right: 10px;
  &:hover {
    transform: scale(1.1);
    color: red;
  }
}

.price {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 19px;
}

.category-names {
  font-family: 'Poppins', sans-serif;
  color: #91a7d9;
  //color: #FF60B3;
  letter-spacing: 4px;
  font-weight: lighter;
}

.container-fluid {
  background-color: white;
}

.item-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.item-text {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-body {
  width:100%;
}
