
  <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("clothes_header.jpg") %>);">
    <div>
      <h1>ReCloset</h1>
      <h3>Revamp your closet. Fashion for everyone.</h3>
    </div>
  </section>

  <section class="container-fluid" class="categories">
    <h3 class="section-header">Browse Products by Category</h3>
    <div class="row">
      <% @categories.each do %>
        <div class="col-lg-2">
          <div class="rectangle">
          <p class="category-names">CATEGORY</p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="cards container-fluid">
    <h3 class="section-header">New Products</h3>
    <div class= "container-fluid">
      <div class="row gx-5 gy-5">
        <% Item.all.each do |item|%>
          <div class="col-lg-3">
            <%= render "items/item-card", item: item %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
