<div class="main-container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Container 1 -->
      <div class="item-image-container">
        <div class="item-image-large"></div>
        <div class="item-image-duos">
          <div class="item-image-small"></div>
          <div class="item-image-small"></div>
        </div>
      </div>
    </div>

    <!-- Container 2 -->
    <div class="col-lg-4">
      <div class="selected_item_container">
        <h2><%= @item.name %></h2>
        <h3><%= @item.price %></h3>
        <p>"BRAND: Gucci
          COLOUR: Ivory
          SIZE: M
          Description: Warm, new, worn few times, must have!"</p>
        <!-- Content goes here -->
        <div class="buttons">
        <%= link_to "Buy", buy_item_path %>
          <button class="button-secondary">Add to Favourites ❤️ </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Container 3 -->
<div class="seller_profile_container">
  <h2>sunshine007</h2>
  <p>Barcelona</p>
  <img src="path/to/profile-image.jpg" alt="Profile Image" class="profile-image">
  <!-- Content goes here -->
</div>

<!-- Container 4 -->
<div class="container container-show">
  <h2>More clothes from sunshine007:</h2>
  <!-- Content goes here -->
</div>

<!-- Container 5 -->
<div class="seller_items_one_container">
  <h2>Cute Jacket</h2>
  <button class="button-primary">Button1</button>
  <button class="button-primary">Button2</button>
  <!-- Content goes here -->
</div>

<!-- Container 6 -->
<div class="seller_items_two_container">
  <h2>Fun Shirt</h2>
  <button class="button-primary">Button1</button>
  <button class="button-primary">Button2</button>
  <!-- Content goes here -->
</div>

<!-- Container 7 -->
<div class="seller_items_three_container">
  <h2>Disco Pants</h2>
  <button class="button-primary">Button1</button>
  <button class="button-primary">Button2</button>
  <!-- Content goes here -->
</div>
