.navbar-recloset {
  background-color: #91a7d9;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #ffff;
}

  a {
    color:#ffff;
    font-family: 'Poppins', sans-serif;
  }

  .navbar-options {
    margin-left: 10px;
  }
  form {
    width: 500px;
  }


.navbar-logo {
  font-size: 28px;
  font-weight: 600;
}

.dropdown-menu {
  background-color: #ffff;
  a {
    color:#91a7d9;
  }
}
