.navbar-recloset {
  background: #FF60B3;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color:white;
  }

  .navbar-options {
    margin-left: 10px;
  }
  form {
    width: 350px;
  }
}

.navbar-logo {
  font-size: 28px;
  font-weight: 600;
}

.dropdown-menu {

  a{
    color:black;
  }
}
